# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment directories
venv/
env/

# Environment variables (do not commit your keys!)
.env

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Pytest and coverage
.cache/
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# OS files
.DS_Store 